body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Domine", serif;
  }
  
  #root {
    padding: 1em;
  }
  
  h1 {
    font-weight: bold;
  }
  
  form {
    font-size: 16px;
  }
  
  form * {
    box-sizing: border-box;
    line-height: 1.5;
  }
  
  .form__item {
    display: flex;
    flex-direction: column;
  }
  
  .form__item > * {
    align-self: flex-start;
  }
  
  .form__label {
    font-weight: 600;
    padding: 10px 0;
  }
  
  .form__input {
    -webkit-appearance: none;
    width: 100%;
    max-width: 425px;
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);
    padding: 0.8em;
    font-size: 0.9em;
    outline: none;
    border: 1px solid #ddd;
    transition: background 0.25s, border-color 0.25s, color 0.25s;
  }
  
  .form__input:focus {
    background: #fff;
  }
  
  .form__input::placeholder {
    color: #bbb;
  }
  
  .form__btn {
    font-weight: 400;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 10px 0;
    color: #fff;
    background: #14b64a;
    border: 2px solid #0fa942;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .form__item.row {
    flex-direction: row;
  }
  
  .form__item.row > *:not(:first-child) {
    margin-left: 1em;
  }
  
  .error {
    color: #d50000;
    background: #fff8f8;
    border-color: #d50000;
  }

  input:invalid {
    border: 2px dashed red;
  }
  
  table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  table thead tr {
    background-color: #ddd;
    text-align: left;
    font-weight: bold;
  }
  
  table th,
  table td {
    padding: 12px 15px;
  }
  
  table tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  table tbody tr:hover {
    font-weight: bold;
    color: #ddd;
    background: black;
    cursor: pointer;
  }
  
  #averageContainer {
    visibility: hidden;
    border: 1px solid black;
    padding: 10px 25px;
    width: 400px;
  }

  #charts {
    width: 70%;
  } 

  body {
    background: LIGHTSTEELBLUE;
  }
  
  
  .container{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 80%;
    margin-top: -450px;
    margin-left: -250px;
  }
  
  #cloud {
    width: 175px;
    height: 60px;
    background: #f4f2fe;
    background: -moz-linear-gradient(top,  #f2f9fe 5%, #d6f0fd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#f2f9fe), color-stop(100%,#d6f0fd));
    background: -webkit-linear-gradient(top,  #f2f9fe 5%,#d6f0fd 100%);
    background: -o-linear-gradient(top,  #f2f9fe 5%,#d6f0fd 100%);
    background: -ms-linear-gradient(top,  #f2f9fe 5%,#d6f0fd 100%);
    background: linear-gradient(top,  #f2f9fe 5%,#d6f0fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
    position: relative;
    margin: 120px auto 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-animation: mover 3.5s infinite  alternate;
    animation: mover 3.5s infinite  alternate;
  }
  
  #cloud:after, div#cloud:before {
    content: '';
    position: absolute;
    z-indeX: -1;
    background: #f2f9fe;
  }
  
  #cloud:after {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    top: -25px;
    left: 25px;
  }
  
  #cloud:before {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    top: -45px;
    right: 25px;
  }
  
  .shadow {
    width: 175px;
    position: absolute;
    bottom: -80px;
    background: black;
    z-index: -1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.4);
  }
  
  .rain {
    position : absolute;
    height : 80%;
    width : 100%;
    color: #002266;
  }
  
  .drop {
    position : absolute;
    background : linear-gradient(#000000, #ffffff);
    opacity : 2;
    top : 25px;
  }
  
  .d1 {
    left : 97%;
    width : 1%;
    height : 5%;
    animation : fall .94s linear 0.69s infinite;
  }
  
  .d2 {
    left : 18%;
    width : 1%;
    height : 5%;
    animation : fall .98s linear 0.57s infinite;
  }
  .d3 {
    left : 38%;
    width : 1%;
    height : 5%;
    animation : fall .66s linear .60s infinite;
  }
  
  .d4 {
    left : 64%;
    width : 1%;
    height : 5%;
    animation : fall .69s linear .76s infinite;
  }
  
  .d5 {
    left : 95%;
    width : 1%;
    height : 5%;
    animation : fall .75s linear .56s infinite;
  }
  
  .d6 {
    left : 65%;
    width : 1%;
    height : 5%;
    animation : fall .75s linear .92s infinite;
  }
  
  .d7 {
    left : 19%;
    width : 1%;
    height : 5%;
    animation : fall .92s linear .72s infinite;
  }
  
  .d8 {
    left : 55%;
    width : 1%;
    height : 5%;
    animation : fall .84s linear .99s infinite;
  }
  
  .d9 {
    left : 35%;
    width : 1%;
    height : 5%;
    animation : fall .79s linear .53s infinite;
  }
  
  .d10 {
    left : 83%;
    width : 1%;
    height : 5%;
    animation : fall .82s linear .97s infinite;
  }
  
  .d11 {
    left : 8%;
    width : 1%;
    height : 5%;
    animation : fall .75s linear .56s infinite;
  }
  
  .d12 {
    left : 1%;
    width : 1%;
    height : 5%;
    animation : fall .60s linear .59s infinite;
  }
  
  .d13 {
    left : 13%;
    width : 1%;
    height : 5%;
    animation : fall .5s linear .5s infinite;
  }
  
  .d14 {
    left : 13%;
    width : 1%;
    height : 5%;
    animation : fall .80s linear .63s infinite;
  }
  
  .d15 {
    left : 13%;
    width : 1%;
    height : 5%;
    animation : fall .68s linear .75s infinite;
  }
  
  @-webkit-keyframes fall {
    to {margin-top:150px; opacity:0;}
  }
  @keyframes fall {
    to {margin-top:150px; opacity:0;}
  }
  
  @-webkit-keyframes mover {
      0% { transform: translateY(1rem); }
      100% { transform: translateY(2.6rem); }
  }
    